body {
    background: #000;
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    margin: 0;
}

.profile-container {
    background: #000;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.profile-icon {
    margin: 1rem;
    font-size: 1.5rem;
    color: #36A546;
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(54, 165, 70, 0.5);
}
